:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-lg-custom {
  // padding: 15px 30px;
  font-size: 14px;
  // border-radius: 8px;
  width: 150px;
}
.btn-login {
  background-color: #1E3793;
  // border-color: #1E3793;
  // color: white;
}

.btn-arabic {
  background-color: #ffffff;
  border-color: #F01A23;
  color: rgb(0, 0, 0);
}
