
<div class="row" >
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title" style="color: red;"> Students Form </h6>
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input type="text" class="form-control" placeholder="Enter first name">
                </div>
              </div><!-- Col -->
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Country</label>
                  <select class="form-select" aria-label="Select country">
                    <option value="">Select country</option>
                    <option value="Egypt">Egypt</option>
                    <option value="مصر">مصر</option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Germany">Germany</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control" placeholder="Enter email">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Birthdate</label>
                  <input type="text" class="form-control" placeholder="Enter birthdate">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Mobile number</label>
                  <input type="text" class="form-control" placeholder="Enter mobile number">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Grade level</label>
                  <input type="email" class="form-control" placeholder="Enter grade level">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
          </form>
          <button type="button" class="btn btn-primary submit">Submit form</button>
      </div>
    </div>
  </div>
</div>
