@import '@core/scss/core.scss';
@import './assets/scss/styles';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600');


/* Apply Montserrat font globally */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Optionally apply it to specific elements */
  h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: 'Montserrat', sans-serif;
  }

  .card-text{
    text-align: start;
}

// html[dir='rtl'] {
//   body {
//     direction: rtl;
//   }
//   .navbar {
//     text-align: right;
//   }
// }

// html[dir='rtl'] body {
//   direction: rtl;
// }

// html[dir='rtl'] .navbar {
//   text-align: right;
// }

.main-menu.menu-light .navigation li a {
  color: #000000;
  padding: 10px 15px 10px 15px;
  line-height: 1.45;
  font-weight: bold;
}

.card-text{
  text-align: start;
}

html:dir(rtl) .content.app-content {
  margin-left: 0px;
  margin-right: 250px;
}

html:dir(rtl) .main-menu.menu-light .navigation li a > * {
  margin-left: 10px;
}

html:dir(rtl) .header-navbar.floating-nav {
 
  left: -15px;
  margin-left: 47px;
  right: 10px;

}
html:dir(rtl) .navbar-expand-lg .navbar-nav {
  margin-right: 750px;
}

html:dir(rtl) .header-navbar .navbar-container .dropdown-language .nav-link .flag-icon {
  margin-left: 10px;
}

html:dir(rtl) .avatar {
  margin-right: 10px;

}
// html:dir(rtl)   .menuSide {
//   text-align: start;

// }


