<!-- <app-product-header [headerTitle]="headerTitle"></app-product-header> -->

<!-- Begin Main Content Area -->
<main class="main-content">
  <div class="breadcrumb-area breadcrumb-height mt-5" data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">

  </div>
  <div class="login-register-area section-space-y-axis-100 mt-5">
    <div class="container">
      <div class="row  d-flex justify-content-center">
        <div class="col-7">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-form">
              <h4 class="login-title">Enter Phone Number</h4>
              <div class="row">
                <div class="col-lg-12">
                  <label for="mobile">Please enter your phone number</label>
                  <input id="mobile" type="tel" placeholder="Enter your phone number" formControlName="mobile">
                </div>
                <div class="col-lg-12 pt-5">
                  <button type="submit" class="custom-btn" (click)="debug()">
                    Next
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>
