
<div class="row" >
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title" style="color: red;"> Devices Form </h6>
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Type</label>
                  <input type="text" class="form-control" placeholder="Enter type">
                </div>
              </div><!-- Col -->

            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Os version</label>
                  <input type="text" class="form-control" placeholder="Enter os version">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">App version</label>
                  <input type="text" class="form-control" placeholder="Enter app version">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Device model</label>
                  <input type="text" class="form-control" placeholder="Enter device model">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Manufacturer</label>
                  <input type="email" class="form-control" placeholder="Enter manufacturer">
                </div>
              </div><!-- Col -->
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Logging time</label>
                  <input type="text" class="form-control" placeholder="Enter logging time">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
          </form>
          <button type="button" class="btn btn-primary submit">Submit form</button>
      </div>
    </div>
  </div>
</div>
